@{
    List<Student> students = new()
    {
        new Student { Id = 1, Name = "Ali" , Surname = "Yılmaz"},
        new Student { Id = 2, Name = "Veli" , Surname = "Yıldız"},
        new Student { Id = 3, Name = "Mahmut" , Surname = "Kaya"},
    };
}

<div>
    <ul>
        @foreach (var student in students)
        {
            <li>@student.Name - @student.Surname</li>
        }
    </ul>
</div>