<form action="/Urun/Add" method="post">
    <input type="text" name="Name" placeholder="Name..." />
    <input type="text" name="Description" placeholder="Description..." />
    <input type="number" name="Price" placeholder="Price..." />
    <input type="number" name="Quantity" placeholder="Quantity..." />

    <br />
    <br />

    <button type="submit">Add</button>
</form>