@{
    ViewData["Title"] = "Þifremi Unuttum";
}
<div class="container py-5">
    <h2>Þifremi Unuttum</h2>
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">E-posta</label>
            <input type="email" class="form-control" id="email" placeholder="E-posta">
        </div>
        <button type="submit" class="btn btn-warning">Þifre Sýfýrla</button>
    </form>
</div>
