@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<string>

<h1>Ürünler</h1>

<div>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Create">Ürün Ekle</a>
</div>

<ul>
    @for (int i = 0; i < Model.Count; i++)
    {
        <li>
            @Model[i] - <a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@i">Sil</a>
        </li>
    }
</ul>