@model NewBlogViewModel

<h2>Add Blog</h2>

<div class="container">
    <form asp-controller="Home" asp-action="AddBlog" method="post">
        <div class="form-group">
            <label asp-for="Title">Title : </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content">Content : </label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
