@{
    ViewData["Title"] = "Anasayfa";
}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="jumbotron p-5 rounded animate__animated animate__fadeInDown">
            <h1 class="display-4">Hoşgeldiniz!</h1>
            <p class="lead">Uygun fiyatlarla en iyi ürünleri keşfedin.</p>
            <hr class="my-4">
            <p>Alışverişe başlamak için ürünleri inceleyin.</p>
            <a class="btn btn-light btn-lg" asp-controller="Home" asp-action="Listing">Ürünleri Listele</a>
        </div>
    </div>
</div>
<div class="row animate__animated animate__fadeIn">
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/img/sample1.jpg" class="card-img-top" alt="Ürün 1">
            <div class="card-body">
                <h5 class="card-title">Ürün 1</h5>
                <p class="card-text">Kısa ürün açıklaması.</p>
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-categoryName="elektronik" asp-route-title="urun-1" asp-route-id="1" class="btn btn-success w-100">İncele</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/img/sample2.jpg" class="card-img-top" alt="Ürün 2">
            <div class="card-body">
                <h5 class="card-title">Ürün 2</h5>
                <p class="card-text">Kısa ürün açıklaması.</p>
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-categoryName="elektronik" asp-route-title="urun-2" asp-route-id="2" class="btn btn-success w-100">İncele</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/img/sample3.jpg" class="card-img-top" alt="Ürün 3">
            <div class="card-body">
                <h5 class="card-title">Ürün 3</h5>
                <p class="card-text">Kısa ürün açıklaması.</p>
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-categoryName="elektronik" asp-route-title="urun-3" asp-route-id="3" class="btn btn-success w-100">İncele</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="~/img/sample4.jpg" class="card-img-top" alt="Ürün 4">
            <div class="card-body">
                <h5 class="card-title">Ürün 4</h5>
                <p class="card-text">Kısa ürün açıklaması.</p>
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-categoryName="elektronik" asp-route-title="urun-4" asp-route-id="4" class="btn btn-success w-100">İncele</a>
            </div>
        </div>
    </div>
</div>
