@{
    ViewData["Title"] = "Home Page";

    var user = Context.Request.Cookies["user"];
}

<div class="text-center">
    <h1 class="display-4">Welcome  @user  </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
