<table class="table tabled-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>

</table>