@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* 1) *@

@* <script>
    alert('Merhaba');
</script> *@

@* 2) *@

@* @section Js{
    <script>
        alert('Merhaba');
    </script>
} *@

@* 3) *@

@* @section Scripts{
    <script>
        alert('Merhaba');
    </script>
}
 *@
@* <style>
    body{
        background-color:black;
        color:white;
    }
</style> *@

@* @section Styles{
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
} *@