@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* 
@section Scripts {
    <script>
        alert("Privacy'desinizz");
    </script>
}

@section Styles {
    <style>
        body {
            background-color: darkgreen;
            color: white;
        }
    </style>
} *@